# Database Config
DB_PASSWORD=
DB_USERNAME=
DB_ROOT_USERNAME=
DB_NAME=
PORT=8080

# Application Secrets
SECRET_KEY_CAPTCHA=
JWT_SIGNER=

# Redis Config
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

# Mail Config
MY_GMAIL=
MY_PASSWORD_APP=

# OAuth2 Config
GOOGLE_CLIENT_SECRET=

# Payment Configs
PAYPAL_ID=
PAYPAL_SECRET=
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
momo_secret_key=
dev_secret_key=
vnpay_secretKey=
